body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.App {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 3em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
}

.password-length-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

.password-length-label {
  margin-left: 20px;
  margin-right: 20px;
}

.password-length-value {
  margin-left: 20px;
  margin-right: 20px;
}

.switch-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.settings {
  border-radius: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 40%);
}

.settings h3 {
  padding-top: 20px;
}

.container {
  width: 90vw;
  max-width: 800px;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 40%);
}

.password-icons {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-content: center;
  align-items: center;
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #bbb;
  outline-offset: 10px;
}

.password-icons svg {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.generate-image {
  cursor: pointer !important;
}

#generated-password {
  font-size: 1em;
  margin-left: 20px;
  margin-top: 20px;
  background-color: transparent;
}

.animate-generate {
  animation: animateRotation 300ms infinite linear;
}

.divider {
  border-top: 1px solid #bbb;
  width: 99.9%;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes animateRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
